* {
    box-sizing: border-box;
    background-color: rgb(169, 92, 104);
    color:rgb(225, 182, 52);
}

body {
    margin: 0;
    min-height: 50vh;
}

.header, .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px;
    border:rgb(225, 161, 52) solid 1px;
    justify-content: space-between;
    align-items: baseline;
}

.header h1, .contact h1 {
    font-size: 68px;
}

.header nav, .contact nav {
    padding: 20px;
    font-size: 24px;
}

.header nav ul, .contact nav ul {
    list-style: none;
}

.header nav ul li, .contact nav ul li {
    display: inline-block;
    padding: 0px 60px;
}

a {
    text-decoration: none;
}

.about, .work {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    padding: 40px;
    margin: 40px;
    border:rgb(225, 161, 52) solid 1px;
}

.heading h1 {
    display: flex;
    font-size: 68px;
    width: 600px;
    height: 300px;

}

.about .blurb {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 900px;
    border:rgb(225, 161, 52) solid 1px;

}

.work .project-large {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 900px;
    border:rgb(225, 161, 52) solid 1px;
}

.work .project-large header {
    display: flex;
    padding: 5px;
}

.work .project-large img {
    display: flex;
    min-width: 50%;
    max-width:100%;
    width: 900px;
}

.work .project-small {
    display: flex;
    flex-wrap: inline-wrap;
    font-size: 20px;
    width: 900px;
    border:rgb(225, 161, 52) solid 1px;
    min-width: 50%;
    max-width: 100%;
}

.work .project-small header {
    display: flex;
    padding: 5px;
}

.work .project-small img {
    display: flex;
    min-width: 25%;
    max-width:50%;
    width: 900px;
}

.work .project-large img:hover {
    opacity: 0.7;
}
.work .project-small img:hover {
    opacity: 0.7;
}

  /* Desktops */
@media screen and (max-width: 992px) {
  body {
      flex-direction: column;
  }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    
   
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
  
  }