* {
    box-sizing: border-box;
    background-color: rgb(169, 92, 104);
    color:rgb(225, 182, 52);
}

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    min-height: 50vh;
    justify-content: flex-start;
}

.header {
    display: flex;
    padding: 40px;
    border:rgb(225, 161, 52) solid 1px;
    justify-content: space-between;
    align-items: baseline;
}

.header h1 {
    font-size: 68px;
}

.header nav {
    padding: 20px;
    font-size: 24px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    padding: 0px 60px;
}

a {
    text-decoration: none;
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border:rgb(225, 161, 52) solid 1px;
}

.about .heading h1 {
    display: flex;
    align-items: flex-start;
    font-size: 68px;
}

.about .blurb {
    display: flex;
    font-size: 18px;
}

.work {
    display: flex;
    padding: 40px;
    border:rgb(225, 161, 52) solid 1px;
}

.work h1 {
    font-size: 68px;
    padding: 10px 10px;
}

.projects {
    display: flex;
    padding: 60px;
    border:rgb(225, 161, 52) solid 1px;
}

.projects .project-1 {
    display: flex;
    border:rgb(225, 161, 52) solid 1px;
}

.projects .project-2 {
    display: flex;
    border:rgb(225, 161, 52) solid 1px;
}

.projects .project-3 {
    display: flex;
    border:rgb(225, 161, 52) solid 1px;
}

.contact {
    display: flex;
    padding: 40px;
    border:rgb(225, 161, 52) solid 1px;
    justify-content: space-between;
    align-items: baseline;
}

.contact h1 {
    font-size: 68px;
}

.contact nav {
    padding: 20px;
    font-size: 24px;
}

.contact nav ul {
    list-style: none;
}

.contact nav ul li {
    display: inline-block;
    padding: 0px 60px;
}

a {
    text-decoration: none;
}